

.todo-list-container {
    padding: 10px;
    overflow: auto;
    max-height: calc(100% - 90px);
}

.todo {
    padding: 10px;
    margin: 8px 0;
    background: rgba(255, 255, 255, 0.712);
    border-radius: 5px;
}


.todo:focus::after {
    border: 1px blue
}